.line-hsu-1 {
  clip-path: url(#hsu-1);

  stroke-dasharray: 100;
  animation-name: draw-chen-1;
}
@keyframes draw-chen-1 {
  0% {
    stroke-dashoffset: 100;
  }

  9% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-2 {
  clip-path: url(#hsu-2);

  stroke-dasharray:252;
  animation-name: draw-chen-2;
}
@keyframes draw-chen-2 {
  0%,
  9% {
    stroke-dashoffset: 180;
  }

  18% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-3 {
  clip-path: url(#hsu-3);

  stroke-dasharray: 300;
  animation-name: draw-chen-3;
}
@keyframes draw-chen-3 {
  0%,
  18% {
    stroke-dashoffset: 300;
  }

  27% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-4 {
  clip-path: url(#hsu-4);

  stroke-dasharray: 200;
  animation-name: draw-chen-4;
}
@keyframes draw-chen-4 {
  0%,
  27% {
    stroke-dashoffset: 200;
  }

  36% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-5 {
  clip-path: url(#hsu-5);

  stroke-dasharray: 200;
  animation-name: draw-chen-5;
}
@keyframes draw-chen-5 {
  0%,
  36% {
    stroke-dashoffset: 200;
  }

  45% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-6 {
  clip-path: url(#hsu-6);

  stroke-dasharray: 200;
  animation-name: draw-chen-6;
}
@keyframes draw-chen-6 {
  0%,
  45% {
    stroke-dashoffset: 200;
  }

  54% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-7 {
  clip-path: url(#hsu-7);

  stroke-dasharray: 200;
  animation-name: draw-chen-7;
}
@keyframes draw-chen-7 {
  0%,
  54% {
    stroke-dashoffset: 200;
  }

  63% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-8 {
  clip-path: url(#hsu-8);

  stroke-dasharray: 200;
  animation-name: draw-chen-8;
}
@keyframes draw-chen-8 {
  0%,
  63% {
    stroke-dashoffset: 200;
  }

  72% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-9 {
  clip-path: url(#hsu-9);

  stroke-dasharray: 300;
  animation-name: draw-chen-9;
}
@keyframes draw-chen-9 {
  0%,
  72% {
    stroke-dashoffset: 300;
  }

  81% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-10 {
  clip-path: url(#hsu-10);

  stroke-dasharray: 299;
  animation-name: draw-chen-10;
}
@keyframes draw-chen-10 {
  0%,
  81% {
    stroke-dashoffset: 299;
  }

  90% {
    stroke-dashoffset: 0;
  }
}

.line-hsu-11 {
  clip-path: url(#hsu-11);

  stroke-dasharray: 500;
  animation-name: draw-chen-11;
}
@keyframes draw-chen-11 {
  0%,
  90% {
    stroke-dashoffset: 500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}


/* ya */
.line-ya-1 {
  clip-path: url(#ya-1);

  stroke-dasharray: 200;
  animation-name: draw-ya-1;
}
@keyframes draw-ya-1 {
  0% {
    stroke-dashoffset: 200;
  }

  8% {
    stroke-dashoffset: 0;
  }
}

.line-ya-2 {
  clip-path: url(#ya-2);

  stroke-dasharray: 500;
  animation-name: draw-ya-2;
}
@keyframes draw-ya-2 {
  0%,
  8% {
    stroke-dashoffset: 500;
  }

  16% {
    stroke-dashoffset: 0;
  }
}

.line-ya-3 {
  clip-path: url(#ya-3);

  stroke-dasharray: 500;
  animation-name: draw-ya-3;
}
@keyframes draw-ya-3 {
  0%,
  16% {
    stroke-dashoffset: 500;
  }

  24% {
    stroke-dashoffset: 0;
  }
}

.line-ya-4 {
  clip-path: url(#ya-4);

  stroke-dasharray: 201;
  animation-name: draw-ya-4;
}
@keyframes draw-ya-4 {
  0%,
  24% {
    stroke-dashoffset: 201;
  }

  32% {
    stroke-dashoffset: 0;
  }
}

.line-ya-5 {
  clip-path: url(#ya-5);

  stroke-dasharray:500;
  animation-name: draw-ya-5;
}
@keyframes draw-ya-5 {
  0%,
  32% {
    stroke-dashoffset: 500;
  }

  40% {
    stroke-dashoffset: 0;
  }
}

.line-ya-6 {
  clip-path: url(#ya-6);

  stroke-dasharray: 500;
  animation-name: draw-ya-6;
}
@keyframes draw-ya-6 {
  0%,
  40% {
    stroke-dashoffset: 500;
  }

  48% {
    stroke-dashoffset: 0;
  }
}

.line-ya-7 {
  clip-path: url(#ya-7);

  stroke-dasharray: 500;
  animation-name: draw-ya-7;
}
@keyframes draw-ya-7 {
  0%,
  48% {
    stroke-dashoffset: 500;
  }

  56% {
    stroke-dashoffset: 0;
  }
}

.line-ya-8 {
  clip-path: url(#ya-8);

  stroke-dasharray: 500;
  animation-name: draw-ya-8;
}
@keyframes draw-ya-8 {
  0%,
  56% {
    stroke-dashoffset: 500;
  }

  64% {
    stroke-dashoffset: 0;
  }
}

.line-ya-9 {
  clip-path: url(#ya-9);

  stroke-dasharray: 500;
  animation-name: draw-ya-9;
}
@keyframes draw-ya-9 {
  0%,
  64% {
    stroke-dashoffset: 500;
  }

  72% {
    stroke-dashoffset: 0;
  }
}

.line-ya-10 {
  clip-path: url(#ya-10);

  stroke-dasharray: 500;
  animation-name: draw-ya-10;
}
@keyframes draw-ya-10 {
  0%,
  72% {
    stroke-dashoffset: 500;
  }

  80% {
    stroke-dashoffset: 0;
  }
}

.line-ya-11 {
  clip-path: url(#ya-11);

  stroke-dasharray: 500;
  animation-name: draw-ya-11;
}
@keyframes draw-ya-11 {
  0%,
  80% {
    stroke-dashoffset: 500;
  }

  90% {
    stroke-dashoffset: 0;
  }
}

.line-ya-12 {
  clip-path: url(#ya-12);

  stroke-dasharray: 500;
  animation-name: draw-ya-12;
}
@keyframes draw-ya-12 {
  0%,
  90% {
    stroke-dashoffset: 500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}


/* chuan */
.line-chuan-1 {
  clip-path: url(#chuan-1);

  stroke-dasharray: 200;
  animation-name: draw-chuan-1;
}
@keyframes draw-chuan-1 {
  0% {
    stroke-dashoffset: 200;
  }

  8% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-2 {
  clip-path: url(#chuan-2);

  stroke-dasharray: 500;
  animation-name: draw-chuan-2;
}
@keyframes draw-chuan-2 {
  0%,
  8% {
    stroke-dashoffset: 500;
  }

  16% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-3 {
  clip-path: url(#chuan-3);

  stroke-dasharray: 500;
  animation-name: draw-chuan-3;
}
@keyframes draw-chuan-3 {
  0%,
  16% {
    stroke-dashoffset: 500;
  }

  24% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-4 {
  clip-path: url(#chuan-4);

  stroke-dasharray: 201;
  animation-name: draw-chuan-4;
}
@keyframes draw-chuan-4 {
  0%,
  24% {
    stroke-dashoffset: 201;
  }

  32% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-5 {
  clip-path: url(#chuan-5);

  stroke-dasharray:500;
  animation-name: draw-chuan-5;
}
@keyframes draw-chuan-5 {
  0%,
  32% {
    stroke-dashoffset: 500;
  }

  40% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-6 {
  clip-path: url(#chuan-6);

  stroke-dasharray: 500;
  animation-name: draw-chuan-6;
}
@keyframes draw-chuan-6 {
  0%,
  40% {
    stroke-dashoffset: 500;
  }

  48% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-7 {
  clip-path: url(#chuan-7);

  stroke-dasharray: 500;
  animation-name: draw-chuan-7;
}
@keyframes draw-chuan-7 {
  0%,
  48% {
    stroke-dashoffset: 500;
  }

  56% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-8 {
  clip-path: url(#chuan-8);

  stroke-dasharray: 500;
  animation-name: draw-chuan-8;
}
@keyframes draw-chuan-8 {
  0%,
  56% {
    stroke-dashoffset: 500;
  }

  64% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-9 {
  clip-path: url(#chuan-9);

  stroke-dasharray: 500;
  animation-name: draw-chuan-9;
}
@keyframes draw-chuan-9 {
  0%,
  64% {
    stroke-dashoffset: 500;
  }

  72% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-10 {
  clip-path: url(#chuan-10);

  stroke-dasharray: 500;
  animation-name: draw-chuan-10;
}
@keyframes draw-chuan-10 {
  0%,
  72% {
    stroke-dashoffset: 500;
  }

  80% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-11 {
  clip-path: url(#chuan-11);

  stroke-dasharray: 500;
  animation-name: draw-chuan-11;
}
@keyframes draw-chuan-11 {
  0%,
  80% {
    stroke-dashoffset: 500;
  }

  90% {
    stroke-dashoffset: 0;
  }
}

.line-chuan-12 {
  clip-path: url(#chuan-12);

  stroke-dasharray: 500;
  animation-name: draw-chuan-12;
}
@keyframes draw-chuan-12 {
  0%,
  90% {
    stroke-dashoffset: 500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
